html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                              
	vertical-align: baseline;          
	background: transparent;      
	font-size: 100%;                     
    }
*,
*:before,
*:after {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0px 40px 0px 38px;
}

.header-body {
    display: block;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;

    height: 94px;

}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-body__logo {
    color: #ffffff;
    width: 50%;
    padding-top: 30px;  
}

a {
    color: #ffffff;
    text-decoration: none; 
    transition: color .1s linear;  
}

.header-body a {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: -0.55px;
}

.header-body a:hover {
    color: #c9605c;
    text-decoration: none;
}

.header-body__logo span {
    color: #c9605c;
    font-weight: normal;
    font-size: 25px;
}

.header-body__nav {
    position: relative;
    width: 50%;
    top: 43px;
    padding-left: 102px;
}

.header-body__nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
    align-items: center;

    width: 270px;

}

.header-body__nav__item{
    position: relative;
    padding-right: 30px;

    color: #494e62;
    font-size: 8px;
}

.header-body__nav__item::after{
    position: absolute;
    top: 50%;
    right: 15px; 
  
    content: " ";
    background-color: #434759;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.header-body__nav ul li a:focus{
    color: #c9605c;
}

.header-body__nav ul li:nth-child(5){
    position: relative;
    padding-right: 0px;
}

.header-body__nav a{
    position: relative;

    font-size: 12px;
    font-weight: bold;
}

.caption {
    position: absolute;
    margin: -1px;

    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    
}