*,
*:before,
*:after {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.section-header {
    padding-top: 61px;
    padding-bottom: 32px;
}

.section-header__text {
    padding-top: 24px;
}

.portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #767e9e;
}

.portfolio__text {
    color: #767e9e;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: -.22px;
}

.portfolio__button {
    height: 22px;
    border-radius: 5px;
    border: 1px solid #666d89;
    background-color: transparent;
    color: #767e9e;
    font-size: 1.2rem;
    font-weight: normal;
    outline: none;
}

.portfolio__button:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.section-header__nav {
    width: 289px;
    height: 57px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__project {
    width: 940px;
    height: 601px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}

.portfolio__img {
    margin-bottom: 20px;
}

.about-us {
    background-color: #f2f2f2;
    height: 734px;
    border-bottom: 6px solid #ffffff;
}

.about-us__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #767e9e;
    letter-spacing: -0.1px;
}

.section-body {
    padding-top: 60px;
}

.section-body__text {
    padding-top: 20px;
}

.about-us__text {
    display: block;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.67;
    letter-spacing: -.35px;
    color: #767e9e;
}

.about-us__employees {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-us__img {
    height: 300px;
    width: 300px;
}

.about-us__person {
    height: 450px;
    width: 300px;
}

.about-us__share {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 25px;
}

.about-us__name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #666d89;
    letter-spacing: -0.1px;
    margin-top: 14px;
    margin-bottom: 10px;
    text-overflow: clip;
}

.about-us__link {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.about-us__link:hover {
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.about-us__info {
    display: block;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.67;
    letter-spacing: -.35px;
    color: #767e9e;
}