html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                              
	vertical-align: baseline;          
	background: transparent;      
	font-size: 100%;                     
    }
*,
*:before,
*:after {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0px 40px 0px 38px;
}

.header-body {
    position: relative;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    height: 95px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-body__logo {
    color: #ffffff;
    width: 50%;
    padding-top: 30px;
    padding-left: 2px; 
}

a {
    color: #ffffff;
    text-decoration: none; 
    transition: color .1s linear;  
}

.header-body a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -0.55px;
}

.header-body a:hover {
    color: #c9605c;
    text-decoration: none;
}

.header-body__logo span {
    color: #c9605c;
    font-weight: normal;
    font-size: 25px;
}

.header-body__nav {
    position: relative;
    width: 50%;
    top: 43px;
    padding-left: 102px;
}

.header-body__nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 270px;

}

.header-body__nav__item{
    position: relative;
    padding-right: 30px;
    color: #494e62;
    font-size: 8px;
}

.header-body__nav__item::after{
    position: absolute;
    top: 50%;
    right: 15px; 
    content: " ";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.header-body__nav__item:last-child::after {
    width: 0;
}

.header-body__nav ul li a:focus{
    color: #c9605c;
}

.header-body__nav ul li:nth-child(5){
    position: relative;
    padding-right: 0px;
}

.header-body__nav a{
    position: relative;
    font-size: 12px;
    font-weight: normal;
}

.caption {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;   
}

.slider-body {
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.slider-body__back{
    background: url('assets/images/chev.png') no-repeat;
    cursor: pointer;
    width: 16px;
    margin-left: 4px;
    margin-top: 281px;
}

.slider-body__back:hover {
    cursor: pointer;
}

.slider-body__back:active {
    background: url('assets/images/chev_active.png') no-repeat;
    cursor: pointer;
}

.slider-body__next{
    background: url('assets/images/chev.png') no-repeat;
    transform: scale(-1, 1);
    cursor: pointer;
    width: 16px;
    margin-top: 281px;
    margin-left: 55px;
}

.slider-body__next:hover {
    cursor: pointer;
}

.slider-body__next:active {
    background: url('assets/images/chev_active.png') no-repeat;
    transform: scale(-1, 1);
    cursor: pointer;
}

.slider-body__iphone_vertical {
    background: url('assets/images/iphone_vertical.png') no-repeat;
    width: 240px;
    margin-top: 53px;
    margin-left: 54px;
}

.slider-body__iphone_horizontal {
    background: url('assets/images/iphone_horizontal.png') no-repeat;
    width: 484px;
    margin-top: 174px;
    margin-left: 73px;
}

.services-body {
    background-color: #f2f2f2;
    height: 500px;
    border-bottom: 6px solid #ffffff;
}

.services-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.services-body__section {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
    color: #666d89;
    text-align: justify;
    line-height: 1.7;
    letter-spacing: -0.2px;
    padding-left: 2px; 
    margin-bottom: 34px;  
}

.services-body__title {
    padding-left: 2px; 
    padding-top: 60px;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    color: #666d89;
}

.services-body__item__text {
    display: block;
    width: 219px;
    height: 111px;
    color: #666d89;
    font-size: 12px;
    float: right;
    margin: 5px;
    line-height: 1.7;
    letter-spacing: -0.1px;
    text-align: justify;
    margin-right: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-body__item__caption {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}

.services-body__item__logo {
    width: 59px;
    margin-top: 13px;
    margin-right: 15px;
    margin-left: 4px; 
}