html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                              
	vertical-align: baseline;          
	background: transparent;                         
    }
*,
*:before,
*:after {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.header-body {
    position: relative;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    height: 95px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-body__logo {
    color: #ffffff;
    width: 50%;
    padding-top: 30px;
}

a {
    color: #ffffff;
    text-decoration: none; 
    transition: color .1s linear;  
}

.header-body a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -0.55px;
}

.header-body a:hover {
    color: #c9605c;
    text-decoration: none;
}

.header-body__logo span {
    color: #c9605c;
    font-weight: normal;
    font-size: 25px;
}

.header-body__nav {
    position: relative;
    width: 50%;
    top: 43px;
    padding-left: 100px;
}

.header-body__nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 270px;

}

.header-body__nav-item{
    position: relative;
    padding-right: 30px;
    color: #494e62;
    font-size: 8px;
}

.header-body__nav-item::after{
    position: absolute;
    top: 50%;
    right: 15px; 
    content: " ";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.header-body__nav-item:last-child::after {
    width: 0;
}

.header-body__nav ul li a:focus{
    color: #c9605c;
}

.header-body__nav ul li:nth-child(5){
    position: relative;
    padding-right: 0px;
}

.header-body__nav a{
    position: relative;
    font-size: 12px;
    font-weight: normal;
}

.caption {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;   
}

.slider-body {
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.slider-body__back{
    background: url('assets/images/chev.png') no-repeat;
    cursor: pointer;
    width: 16px;
    margin-left: 2px;
    margin-top: 281px;
}

.slider-body__back:hover {
    background: url('assets/images/chev_active.png') no-repeat;
    cursor: pointer;
}

.slider-body__back:active {
    background: url('assets/images/chev_active.png') no-repeat;
    cursor: pointer;
}

.slider-body__next{
    background: url('assets/images/chev.png') no-repeat;
    transform: scale(-1, 1);
    cursor: pointer;
    width: 16px;
    margin-top: 281px;
    margin-left: 55px;
}

.slider-body__next:hover {
    background: url('assets/images/chev_active.png') no-repeat;
    cursor: pointer;
}

.slider-body__next:active {
    background: url('assets/images/chev_active.png') no-repeat;
    transform: scale(-1, 1);
    cursor: pointer;
}

.slider-body__iphone_vertical {
    background: url('assets/images/iphone_vertical.png') no-repeat;
    width: 240px;
    margin-top: 53px;
    margin-left: 54px;
}

.slider-body__iphone_horizontal {
    background: url('assets/images/iphone_horizontal.png') no-repeat;
    width: 484px;
    margin-top: 174px;
    margin-left: 73px;
}

.services-body {
    background-color: #f2f2f2;
    height: 500px;
    border-bottom: 6px solid #ffffff;
}

.services-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.services-body__section {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
    color: #666d89;
    text-align: justify;
    line-height: 1.7;
    letter-spacing: -0.2px;
    margin-bottom: 34px;  
}

.services-body__title {
    padding-top: 60px;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    color: #666d89;
}

.services-body__item-text {
    display: block;
    width: 219px;
    height: 111px;
    color: #666d89;
    font-size: 12px;
    float: right;
    margin: 5px;
    line-height: 1.7;
    letter-spacing: -0.1px;
    text-align: justify;
    margin-right: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-body__item-caption {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}

.services-body__item-logo {
    width: 59px;
    margin-top: 13px;
    margin-right: 15.5px;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.section-header {
    padding-top: 61px;
    padding-bottom: 32px;
}

.section-header__text {
    padding-top: 24px;
}

.portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #767e9e;
}

.portfolio__text {
    color: #767e9e;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: -.22px;
}

.portfolio__button {
    height: 22px;
    border-radius: 5px;
    border: 1px solid #666d89;
    background-color: transparent;
    color: #767e9e;
    font-size: 1.2rem;
    font-weight: normal;
    outline: none;
}

.portfolio__button:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.section-header__nav {
    width: 289px;
    height: 57px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__project {
    width: 940px;
    height: 601px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}

.portfolio__img {
    margin-bottom: 20px;
}

.about-us {
    background-color: #f2f2f2;
    height: 734px;
    border-bottom: 6px solid #ffffff;
}

.about-us__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #767e9e;
    letter-spacing: -0.1px;
}

.section-body {
    padding-top: 60px;
}

.section-body__text {
    padding-top: 20px;
}

.about-us__text {
    display: block;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.67;
    letter-spacing: -.35px;
    color: #767e9e;
}

.about-us__employees {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-us__img {
    height: 300px;
    width: 300px;
}

.about-us__person {
    height: 450px;
    width: 300px;
}

.about-us__share {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 25px;
}

.about-us__name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #666d89;
    letter-spacing: -0.1px;
    margin-top: 14px;
    margin-bottom: 10px;
    text-overflow: clip;
}

.about-us__link {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.about-us__link:hover {
    cursor: pointer;
    height: 34px;
    width: 34px;
}

.about-us__info {
    display: block;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.67;
    letter-spacing: -.35px;
    color: #767e9e;
}

.footer-body {
    height: 654px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.wrapper {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.footer-bottom {
    height: 76px;
    background-color: #2d303a;
}

.footer-bottom__row {
    display: flex;
    flex-direction: row;
}

.footer-bottom p{
   margin-top: 30px;
   font-size: 1.2rem;
   color: #666d89;
   width: 783px;
}

.footer-body__title {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 60px;
    color: #ffffff;
    letter-spacing: -.2px;
}

.footer-body__text {
    padding-top: 18px;
    font-size: 1.7rem;
    line-height: 1.85;
    text-align: justify;
    color: #ffffff;
    letter-spacing: .25px;
}

.footer-body__inputs {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
}

.footer-body__inputs input {
    width: 620px;
    height: 38px;
    margin-bottom: 16px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    color: #f48c8f !important;
    font-size: 1.2rem;
    padding-left: 15px;
    font-weight: normal;
}

.footer-body__inputs input::placeholder {
    color: #f48c8f !important;
}

.footer-body__inputs textarea {
    width: 620px;
    height: 202px;
    margin-bottom: 16px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    color: #f48c8f;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-top: 12px;
    font-weight: normal;
    resize: none;
}

.footer-body__main {
    display: flex;
    flex-direction: row;
}

.footer-body__contacts  {
    margin-top: 39px;
    margin-left: 20px;
}

.footer-body__contacts h2 {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .1px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-body__contacts__text {
    font-size: 1.2rem;
    text-align: justify;
    color: #ffffff;
    line-height: 1.8;
    letter-spacing: -.15px;
    margin-bottom: 27px;
}

.footer-body__contacts p {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: -.1px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 3px;
}

.footer-body__contacts p img {
    margin-right: 10px;
}

.footer-body__contacts p a {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: -.1px;
    text-decoration: none;
    color: #ffffff;
}
.footer-body__contacts p a:hover {
    color: #666d89;
}

.footer-bottom__links {
    margin-top: 22px;
}

.footer-bottom__links img{
    margin-left: 5px;
}

.footer-bottom__links img:hover{
    margin-bottom: -2px;
    cursor: pointer;
}

.button_sub {
    background-color: white !important;
    cursor: pointer;
}