html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                              
	vertical-align: baseline;          
    background: transparent;                         
    }
*,
*:before,
*:after {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.header-body {
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    height: 95px;
    z-index: 2;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-body__logo {
    color: #ffffff;
    padding-top: 30px;
}

a {
    color: #ffffff;
    text-decoration: none; 
    transition: color .1s linear;  
}

.header-body a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -0.55px;
}

.header-body a:hover {
    color: #c9605c;
    text-decoration: none;
}

.header-body__logo span {
    color: #c9605c;
    font-weight: normal;
    font-size: 25px;
}

.header-body__nav {
    position: relative;
    top: 43px;
    padding-left: 100px;
    margin-right: 85px;
}

.header-body__nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 270px;

}

.header-body__nav-item{
    position: relative;
    padding-right: 30px;
    color: #494e62;
}

.header-body__nav-item::after{
    position: absolute;
    top: 50%;
    right: 15px; 
    content: " ";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.header-body__nav-item:last-child::after {
    width: 0;
}

a.active {
    color: #c9605c;
}

.header-body__nav ul li:nth-child(5){
    position: relative;
    padding-right: 0px;
}

.anchor {
    position: relative;
    top: -50px;
}

.header-body__nav a{
    position: relative;
    font-size: 12px;
    font-weight: normal;
}

.caption {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;   
}

.slider-body {
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 600px;
    overflow: hidden;
}

.slider-body__back{
    display: inline-block;
    position: absolute;
    top: 47%;
    bottom: 0;
    left: 0;
    right: auto;
    background: url('assets/images/chev.png') no-repeat;
    cursor: pointer;
    width: 16px;
    z-index: 1;
}

.slider-body__back:hover {
    background: url('assets/images/chev_active.png') no-repeat;
    cursor: pointer;
}

.slider-body__back:active {
    background: url('assets/images/chev_active.png') no-repeat;
    cursor: pointer;
}

.slider-body__next{
    display: inline-block;
    position: absolute;
    top: 47%;
    bottom: 0;
    left: auto;
    right: 0;
    background: url('assets/images/chev.png') no-repeat;
    transform: scale(-1, 1);
    cursor: pointer;
    width: 16px;
    z-index: 1;
}

.slider-body__next:hover {
    background: url('assets/images/chev_active.png') no-repeat;
    cursor: pointer;
}

.slider-body__next:active {
    background: url('assets/images/chev_active.png') no-repeat;
    transform: scale(-1, 1);
    cursor: pointer;
}

.slider-body__iphone_vertical {
    background-image: url('assets/images/iphone_vertical.png');
    background-repeat:no-repeat;
    background-size: 100%;
    width: 240px;
    margin-top: 53px;
    margin-left: 72px;
}

.slider-body__iphone_horizontal {
    background-image: url('assets/images/iphone_horizontal.png');
    background-repeat:no-repeat;
    background-size: 100%;
    width: 484px;
    margin-top: 174px;
    margin-left: 73px;
}

.slide {
    display: none;
    position: relative;
    margin: 0 auto;
    height: 100%;
    animation: 0.5s ease-in-out;
}
.active,
.next {
    display: flex;
    flex-direction: row;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.item-slide {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.slider {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.slider-body__slide-2 {
    background: url('assets/images/Slide-2.jpg') no-repeat;
    background-size: cover;
    width: 1024px;
    height: 600px;
}

.screen_vertical {
    width: 188px;
    height: 333px;
    background-color: black;
    margin-top: 65px;
    margin-left: 14px;
    transition: 0.3s;
}

.button_vertical {
    width: 42px;
    height: 42px;
    margin-left: 88px;
    margin-top: 10px;
    background-color: transparent;
    border-radius: 50%;
}

.screen_horizontal {
    width: 333px;
    height: 188px;
    background-color: black;
    margin-left: 60px;
    margin-top: -115px;
    transition: 0.3s;
}

.button_horizontal {
    width: 42px;
    height: 42px;
    margin-left: 9px;
    margin-top: 87px;
    background-color: transparent;
    border-radius: 50%;
}

.screen_vertical2 {
    width: 201px;
    height: 356px;
    background-color: black;
    margin-top: 112px;
    margin-left: 399px;
    transition: 0.3s;
}

.button_vertical2 {
    width: 44px;
    height: 44px;
    margin-left: 475px;
    margin-top: 10px;
    background-color: transparent;
    border-radius: 50%;
}

.button_vertical:hover {
    cursor: pointer;
}

.button_horizontal:hover {
    cursor: pointer;
}

.button_vertical2:hover {
    cursor: pointer;
}

.services-body {
    background-color: #f2f2f2;
    height: 100%;
    border-bottom: 6px solid #ffffff;   
}

.services-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.services-body__section {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
    color: #666d89;
    text-align: justify;
    line-height: 1.7;
    letter-spacing: -0.2px;
    margin-bottom: 34px;  
}

.services-body__title {
    padding-top: 60px;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    color: #666d89;
}

.services-body__item-text {
    display: block;
    width: 219px;
    height: 111px;
    color: #666d89;
    font-size: 12px;
    float: right;
    margin: 5px;
    line-height: 1.7;
    letter-spacing: -0.1px;
    text-align: justify;
    margin-right: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-body__item-caption {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}

.services-body__item-logo {
    width: 59px;
    margin-top: 13px;
    margin-right: 15.5px;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.section-header {
    padding-top: 61px;
    padding-bottom: 32px;
}

.section-header__text {
    padding-top: 24px;
}

.portfolio>.wrapper {
    width: 100%;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.portfolio {
    height: 100%;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #767e9e;
}

.portfolio__text {
    color: #767e9e;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: -.22px;
}

.portfolio__button {
    height: 22px;
    border-radius: 5px;
    border: 1px solid #666d89;
    background-color: transparent;
    color: #767e9e;
    font-size: 1.2rem;
    font-weight: normal;
    outline: none;
}

.portfolio__button:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
    color: #ffffff;
}

button.portfolio__button-active {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.section-header__nav {
    width: 289px;
    height: 57px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}

.portfolio__img {
    min-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.portfolio__img:hover {
    cursor: pointer;
}

img.select-img {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
}

.about-us {
    background-color: #f2f2f2;
    height: 100%;
    border-bottom: 6px solid #ffffff;
}

.about-us__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #767e9e;
    letter-spacing: -0.1px;
}

.section-body {
    padding-top: 60px;
}

.section-body__text {
    padding-top: 20px;
}

.about-us__text {
    display: block;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.67;
    letter-spacing: -.35px;
    color: #767e9e;
}

.about-us__employees {
    margin-top: 44px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 67px;
}

.about-us__img {
    min-width: 215px;
    width: 100%;
    height: auto;
}

.about-us__person {
    flex: 1 0 25%;
    height: 100%;
    width: 100%;
}

.about-us__share {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 25px;
}

.about-us__name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .3px;
    color: #666d89;
    letter-spacing: -0.1px;
    margin-top: 14px;
    margin-bottom: 10px;
    text-overflow: clip;
}

.about-us__link {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.about-us__link:hover {
    cursor: pointer;
    height: 34px;
    width: 34px;
}

.about-us>.wrapper {
    width: 100%;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.about-us__info {
    display: block;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.67;
    letter-spacing: -.35px;
    color: #767e9e;
}

.footer-body>.wrapper {
    width: 100%;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.footer-body {
    height: 100%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.wrapper {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.footer-bottom {
    height: 76px;
    background-color: #2d303a;
}

.footer-bottom__row {
    display: flex;
    flex-direction: row;
}

.footer-bottom p{
   margin-top: 30px;
   font-size: 1.2rem;
   color: #666d89;
   width: 783px;
}

.footer-body__title {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 60px;
    color: #ffffff;
    letter-spacing: -.2px;
}

.footer-body__text {
    padding-top: 18px;
    font-size: 1.7rem;
    line-height: 1.85;
    text-align: justify;
    color: #ffffff;
    letter-spacing: .25px;
}

.footer-body__inputs {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
}

.footer-body__inputs input {
    width: 620px;
    height: 38px;
    margin-bottom: 16px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    color: #f48c8f !important;
    font-size: 1.2rem;
    padding-left: 15px;
    font-weight: normal;
}

.footer-body__inputs input::placeholder {
    color: #f48c8f !important;
}

.footer-body__inputs textarea::placeholder {
    color: #f48c8f !important;
}

.footer-body__inputs textarea {
    width: 620px;
    height: 202px;
    margin-bottom: 16px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    color: #f48c8f;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-top: 12px;
    font-weight: normal;
    resize: none;
}

.footer-body__main {
    display: flex;
    flex-direction: row;
}

.footer-body__contacts  {
    margin-top: 39px;
    margin-left: 20px;
}

.footer-body__contacts h2 {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .1px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-body__contacts__text {
    font-size: 1.2rem;
    text-align: justify;
    color: #ffffff;
    line-height: 1.8;
    letter-spacing: -.15px;
    margin-bottom: 27px;
}

.footer-body__contacts p {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: -.1px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 3px;
}

.footer-body__contacts p img {
    margin-right: 10px;
}

.footer-body__contacts p a {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: -.1px;
    text-decoration: none;
    color: #ffffff;
}
.footer-body__contacts p a:hover {
    color: #666d89;
}

.footer-bottom__links {
    margin-top: 22px;
    width: 100%;
    text-align: end;
}

.footer-bottom__links img{
    margin-left: 5px;
}

.footer-bottom__links img:hover{
    margin-bottom: -2px;
    cursor: pointer;
}

.footer-bottom>.wrapper {
    width: 100%;
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
}

.button_sub {
    background-color: white !important;
    cursor: pointer;
}

#resultWindow {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #434759;
    z-index: 3;
    opacity: .9;
}

#resultWindow.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 300px;
    height: 180px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
}

#message p {
    margin-top: 3px;
    margin-bottom: 5px;
}

#message span {
    font-size: 1.4rem;
}

.message-title {
    font-size: 1.8rem !important;
    font-weight: bold;
}

.message-button {
    height: 30px;
    width: 80px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
}

.message-button:hover {
    cursor: pointer;
    background-color:#9ba4c4;
}

.about-us__person:nth-child(2) {
    margin: 0 1.9%;
}

@media (min-width: 767px) and (max-width: 1019px) {
    .slider-body__iphone_horizontal {
        width: 48vw;
        margin-left: 30px;
    }

    .screen_vertical {
        height: 33.4vw;
        width: 18.9vw;
        margin-left: 1.3vw;
        margin-top: 50px;
    }

    .screen_vertical2 {
        height: 35.6vw;
        width: 20.1vw;
        margin-left: 39.9vw;
        margin-top: 89px;
    }

    .button_vertical2 {
        margin-left: 47.5vw;
        margin-top: 5px;
    }

    .screen_horizontal {
        width: 33.3vw;
        height: 18.9vw;
        margin-left: 5.9vw;
        margin-top: -96px;
    }
    .button_horizontal {
        margin-top: 65px;
        margin-left: 4px;
    }
    .slider-body__iphone_vertical {
        width: 24vw;
    }

    .slider-body {
        height: 60vw;
    }
    .slider-body__slide-2 {
        width: 100vw;
        height: 60vw;
    }
    .portfolio__img {
        flex: 1 0 20%;
        margin-right: 20px;
    }

    
    .services-body__section {
        margin-bottom: 60px;
    }

    .services-wrapper {
        margin-bottom: 25px;
    }

    .button_sub {
        margin-bottom: 39px !important;
    }
    .about-us__name {
        width: 30vw;
    }
}


@media (min-width: 375px) and (max-width: 767px) {

    .header__mobile{
		display: flex !important;
	}

    .footer-body__main {
        flex-wrap: wrap;
    }

    .about-us__person {
        width: 100% !important;
        margin-bottom: 34px !important;
        min-width: 350px;
    }

    .portfolio__project {
        width: 80vw !important;
        height: 100%;
    }

    .about-us__employees {
        flex-wrap: wrap;
    }

    .portfolio__img:nth-child(12) {
        display:none;
    }
    .portfolio__img:nth-child(11) {
        display:none;
    }
    .portfolio__img:nth-child(10) {
        display:none;
    }
    .portfolio__img:nth-child(9) {
        display:none;
    }
    .portfolio__img {
        margin: 6px;
        flex-basis: 46% !important;
    }

    .services-wrapper {
        margin-bottom: 15px !important;
    }

    .services-body__item {
        margin-bottom: 0px !important;
    }
    .services-body__item-text {
        width: 213px;
    }

    .slider-body__back {
        top: 15%;
    }

    .slider-body__next {
        top: 15%;
    }

    .header-wrapper {
        justify-content: center;
    }

    .header-body__nav {
        display: none;
    }

    .slider-body__iphone_horizontal {
        width: 48vw;
        margin-left: 23px;
        margin-top: 85px;
    }

    .screen_vertical {
        height: 30.4vw;
        width: 16.9vw;
        margin-left: 1.3vw;
        margin-top: 21px;
    }

    .button_vertical {
        width: 20px;
        height: 20px;
        margin-left: 30px;
        margin-top: -5px;
    }

    .screen_vertical2 {
        height: 35.6vw;
        width: 20.1vw;
        margin-left: 39.9vw;
        margin-top: 89px;
    }

    .button_vertical2 {
        margin-left: 47.5vw;
        margin-top: 5px;
    }

    .screen_horizontal {
        width: 30.3vw;
        height: 16.9vw;
        margin-left: 4.9vw;
        margin-top: -31px;
    }
    .button_horizontal {
        margin-top: 16px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
    }
    .slider-body__iphone_vertical {
        width: 24vw;
        margin-left: 30px;
        margin-top: 22px;
    }

    .slider-body {
        height: 60vw;
    }
    .slider-body__slide-2 {
        width: 100vw;
        height: 60vw;
    }
    
    .services-body__section {
        margin-bottom: 60px;
    }

    .services-wrapper {
        margin-bottom: 25px;
    }

    .button_sub {
        margin-bottom: 39px !important;
    }
    .about-us__name {
        width: 30vw;
    }

    .about-us__person:nth-child(2) {
        margin: 0 !important;
        margin-bottom:34px !important;
    }

    .about-us__employees {
        margin-bottom: 10px !important;
    }

    .footer-body__inputs> input {
        width: 79vw !important;
    }
    .footer-body__inputs> textarea {
        width: 79vw !important;
    }

    .footer-body__contacts {
        margin: 0px 0px 40px 0px !important;
    }

    .footer-bottom__row p {
        display: none !important;
    }

    .footer-bottom__links {
        text-align: center !important;
    }
}

@media (max-width: 1019px){

    .portfolio__img {
        flex-basis: 25%;
    }
    .portfolio__project {
        width: 94vw;
        margin: 0px 20px 0px 0px;
    }
    .about-us__employees {
        margin: 44px 0px 67px 0px;
    }
    .about-us__person {
        width: 30%;
    }

    .about-us__person:nth-child(2) {
        margin: 0 1.9%;
    }
    .footer-body__inputs> input {
        width: 62vw;
    }
    .footer-body__inputs> textarea {
        width: 62vw;
    }

    .services-body__item {
        margin-bottom: 39px;
    }
}

.header__mobile{
	position: fixed;
	background-color: #2D303A;
	display: none;
	align-items: center;
	height: 71px;
	width: 20%;
	z-index: 3;
}
.close{
	transition: 0.5s;
	opacity: 0;
	left: -100vh;
}
.burger-active{
	transform: rotate(90deg);
}
.header__mobile .header__title{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
}
.burger{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.burger span{
	border: 2px solid #ffffff;
	width: 25px;
	border-radius: 1px;
	margin-bottom: 6.4px;
}
.burger span:last-child{
	margin-bottom: 0;
}
.burger:hover{
	cursor: pointer;
}
.scroll-block{
	overflow: hidden;
}
.mobile-menu{
	position: fixed;
	z-index: 4;
	width: 74.13%;
	height: 100%;
	background: #2D303A;
	transition: 0.5s;
	box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}
.shadow{
    background-color: rgba(45, 48, 58, 0.6);
}
.wrapperB{
	position: fixed;
	display: none;
	background: black;
	opacity: 0.6;
	top: 0;
	right:0;
	width: 25.87%;
	height: 100%;
}
.mobile__menu__header .burger{
	transform: rotate(-90deg);
}
.mobile__menu__header .burger:hover{
	cursor: pointer;
}
.mobile__menu__header{
	display: flex;
	margin-top: 23.5px;
}
.mobile__menu__header .header__title{
	margin-left: 28.5px;
}
.mobile__menu-links{
	max-width: max-content;
    position: absolute;
    list-style: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.mobile__menu-links a{
	 color: #ffffff;
     text-transform: uppercase;
     font-size: 24px;
     font-weight: 700;
}
.mobile__menu-links li{
	margin-bottom: 27px;
}

.header-body__logoB a{
    font-size: 24px;
    margin-left: 30px;
    font-weight: 700;
}
.header-body__logoB span{
    font-size: 24px;
    color:  #f06c64;
}

@media (min-width: 320px) and (max-width: 375px) {

    .header__mobile{
		display: flex !important;
	}

    .footer-body__main {
        flex-wrap: wrap;
    }

    .about-us__person {
        width: 100% !important;
        margin-bottom: 34px !important;
        min-width: 350px;
    }

    .portfolio__project {
        width: 80vw !important;
        height: 100%;
    }

    .about-us__employees {
        flex-wrap: wrap;
    }

    .portfolio__img:nth-child(12) {
        display:none;
    }
    .portfolio__img:nth-child(11) {
        display:none;
    }
    .portfolio__img:nth-child(10) {
        display:none;
    }
    .portfolio__img:nth-child(9) {
        display:none;
    }
    .portfolio__img {
        margin: 6px;
        flex-basis: 46% !important;
    }

    .services-wrapper {
        margin-bottom: 15px !important;
    }

    .services-body__item {
        margin-bottom: 0px !important;
    }
    .services-body__item-text {
        width: 213px;
    }

    .slider-body__back {
        top: 15%;
    }

    .slider-body__next {
        top: 15%;
    }

    .header-wrapper {
        justify-content: center;
    }

    .header-body__nav {
        display: none;
    }

    .slider-body__iphone_horizontal {
        width: 48vw;
        margin-left: 23px;
        margin-top: 85px;
    }

    .screen_vertical {
        height: 30.4vw;
        width: 16.9vw;
        margin-left: 1.3vw;
        margin-top: 21px;
    }

    .button_vertical {
        width: 20px;
        height: 20px;
        margin-left: 30px;
        margin-top: -5px;
    }

    .screen_vertical2 {
        height: 35.6vw;
        width: 20.1vw;
        margin-left: 39.9vw;
        margin-top: 89px;
    }

    .button_vertical2 {
        margin-left: 47.5vw;
        margin-top: 5px;
    }

    .screen_horizontal {
        width: 30.3vw;
        height: 16.9vw;
        margin-left: 4.9vw;
        margin-top: -31px;
    }
    .button_horizontal {
        margin-top: 16px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
    }
    .slider-body__iphone_vertical {
        width: 24vw;
        margin-left: 30px;
        margin-top: 22px;
    }

    .slider-body {
        height: 60vw;
    }
    .slider-body__slide-2 {
        width: 100vw;
        height: 60vw;
    }
    
    .services-body__section {
        margin-bottom: 60px;
    }

    .services-wrapper {
        margin-bottom: 25px;
    }

    .button_sub {
        margin-bottom: 39px !important;
    }
    .about-us__name {
        width: 30vw;
    }

    .about-us__person:nth-child(2) {
        margin: 0 !important;
        margin-bottom:34px !important;
    }

    .about-us__employees {
        margin-bottom: 10px !important;
    }

    .footer-body__inputs> input {
        width: 79vw !important;
    }
    .footer-body__inputs> textarea {
        width: 79vw !important;
    }

    .footer-body__contacts {
        margin: 0px 0px 40px 0px !important;
    }

    .footer-bottom__row p {
        display: none !important;
    }

    .footer-bottom__links {
        text-align: center !important;
    }
}